#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_CPAY
#build/CPAYd::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_CPAY)

DEB_INSTALL_EXAMPLES_CPAYd += debian/examples/*
DEB_INSTALL_MANPAGES_CPAYd += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix CPAYd
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f CPAY-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake CPAY-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_CPAY
	src/test_CPAY

# Ensure wrapper is set executable
binary-post-install/CPAYd:
	chmod +x $(cdbs_curdestdir)usr/bin/CPAYd
binary-post-install/CPAY-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/CPAY-qt
